.input {
  width: 100%;
  padding: 10px;
	border: none;
  font-size: 1rem;
  color: #acacac;
  box-sizing: border-box; 
	background-color: #383737; 
}

.input[type="date"] {
  font-size: 0.9rem;
}
.isValid{
	background: rgb(153, 26, 26);
}