.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2%; 
  background-color: #292929; 
  padding: 4%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  box-sizing: border-box;
  margin: 0 auto; 
	height: 100%;
}

.textarea {
  width: 100%;
  padding: 1%;
  border: none;
  color: #acacac;
  box-sizing: border-box; 
	resize: none; 
  height: 50vh; 
	background-color: #383737; 
	scrollbar-color: #444444 #353535;
	padding: 1vw;
}
.containerButton{
	display: flex;
	justify-content: center;
}
.button,.deleteButton {
  background-color: #616161; 
  color: rgb(216, 213, 213);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
	width: 15vw;
	margin: 1vw;
}
.button:hover,.deleteButton:hover {
  background-color: #464545; 
}

.button:active,.deleteButton:active {
  background-color: #2e2e2e; 
}

.button:disabled,.deleteButton:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}
.isValid{
	background: rgb(153, 26, 26);
}
